.App-title {
    /* position: absolute; */
    left: 20px;
    top: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a.btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    /* padding: 20px; */
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    padding-right: 25px;
    margin-right: 10px;
    
}


