.form-group {
    margin-top: 20vh;
    margin-right: 0px;
}

.form-control {
    border-color: #CA364B;
}
.jumbotron {
    padding: 0px!important;

}

.backgroundImg {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
