.form-group {
    margin-top: 0px;
    margin-bottom: 0px;
}

.form-group {
    margin-top: 20vh;
    margin-right: 0px;
}

.jumbotron {
    margin-left: 0px;
    padding-left: 0px!important;
}

.backgroundImage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

div.jumbotron {
    padding-left: 0px;
    padding-top: 0px;
}